[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for XDebug
Name=XDebug Support
GenericName=Debugger Frontend

Icon=debugger
X-KDE-Library=kdevxdebug
X-KDevelop-Category=Global
X-KDevelop-Version=13
X-KDE-PluginInfo-Name=kdevxdebug
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDevelop/Plugin
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
X-KDevelop-Mode=GUI
