[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for XDebug
Comment[da]=Dette plugin giver en brugerflade til XDebug
Comment[en_GB]=This plugin provides a frontend for XDebug
Comment[es]=Este complemento proporciona una interfaz para XDebug
Comment[fr]=Ce module externe fournit une interface pour XDebug
Comment[it]=Questa estensione fornisce un interfaccia per XDebug
Comment[pt]=Este 'plugin' oferece uma interface para o XDebug
Comment[pt_BR]=Este plugin fornece uma interface para o XDebug
Comment[sv]=Insticksprogrammet tillhandahåller ett gränssnitt för Xdebug
Comment[uk]=Цей додаток є оболонкою до XDebug
Comment[x-test]=xxThis plugin provides a frontend for XDebugxx
Name=XDebug Support
Name[da]=XDebug-understøttelse
Name[en_GB]=XDebug Support
Name[es]=Implementación de XDebug
Name[fr]=Prise en charge de XDebug
Name[it]=Supporto XDebug
Name[pt]=Suporte para o XDebug
Name[pt_BR]=Suporte ao XDebug
Name[sv]=Xdebug-stöd
Name[uk]=Підтримка XDebug
Name[x-test]=xxXDebug Supportxx
Name[zh_CN]=XDebug 支持
GenericName=Debugger Frontend
GenericName[da]=Fejlsøgningsbrugerflade
GenericName[en_GB]=Debugger Frontend
GenericName[es]=Interfaz del depurador
GenericName[fr]=Interface du débogueur
GenericName[it]=Interfaccia al debugger
GenericName[nl]=Frontend voor debugger
GenericName[pt]=Interface do Depurador
GenericName[pt_BR]=Interface do depurador
GenericName[sv]=Avlusargränssnitt
GenericName[uk]=Клієнтська програма зневадника
GenericName[x-test]=xxDebugger Frontendxx
GenericName[zh_CN]=调试器前端

Icon=debugger
X-KDE-Library=kdevxdebug
X-KDevelop-Category=Global
X-KDevelop-Version=10
X-KDE-PluginInfo-Name=kdevxdebug
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDevelop/Plugin
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
X-KDevelop-Mode=GUI
