[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for XDebug
Comment[pt]=Este 'plugin' oferece uma interface para o XDebug
Comment[pt_BR]=Este plugin fornece uma interface para o XDebug
Comment[uk]=Цей додаток є оболонкою до XDebug
Comment[x-test]=xxThis plugin provides a frontend for XDebugxx
Name=XDebug Support
Name[pt]=Suporte para o XDebug
Name[pt_BR]=Suporte ao XDebug
Name[uk]=Підтримка XDebug
Name[x-test]=xxXDebug Supportxx
GenericName=Debugger Frontend
GenericName[pt]=Interface do Depurador
GenericName[pt_BR]=Interface do depurador
GenericName[uk]=Клієнтська програма зневадника
GenericName[x-test]=xxDebugger Frontendxx

Icon=debugger
X-KDE-Library=kdevxdebug
X-KDevelop-Category=Global
X-KDevelop-Version=10
X-KDE-PluginInfo-Name=kdevxdebug
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDevelop/Plugin
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
X-KDevelop-Mode=GUI
